<ion-header>
  <ion-navbar>
    <ion-title>Novo Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Informe aonde o motoboy deve ir</h4>

  <ion-card *ngFor="let stop of stops; let i = index ">
    <ion-card-header>
      <strong>{{ i+1 }}ª parada</strong>
      <button ion-button icon-only float-right (tap)="removeStop(stop)" *ngIf="i > 1">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-card-header>
    <ion-card-content>
      <button color="light" ion-button block (tap)="selectAddress(stop)" *ngIf="!stop.location">
        Selecionar endereço
      </button>
      <button ion-item (tap)="selectAddress(stop)" *ngIf="stop.location">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <ion-icon name="pin"></ion-icon>
            {{stop.location.formattedAddress}}
          </div>
          <button color="light" ion-button (tap)="selectAddress(stop)">
            Trocar
          </button>
        </div>
      </button>
      <ion-item>
        <ion-label stacked>O que fazer neste endereço?</ion-label>
        <ion-textarea placeholder="Ex: Pegar um documento com João" fz-elastic [(ngModel)]="stop.instructions"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div text-center padding-bottom>
    <button ion-button icon-left (tap)="addStop()">
      <ion-icon name="add"></ion-icon>
      Parada
    </button>
  </div>

  <button ion-button block (tap)="makeOrder(order)" [disabled]="!canMakeOrder()">
    Fazer pedido
  </button>
</ion-content>
