<ion-header>
  <ion-navbar>
    <ion-title>Seu pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="mt-4">
    <ion-item>
      <ion-icon name="ios-radio-button-on" item-start small color="secondary"></ion-icon>
      Pedido enviado
    </ion-item>
    <ion-item *ngIf="order.pending">
      <div item-start style="margin-right: 2.1rem">
        <ion-spinner name="crescent" duration="1200"></ion-spinner>
      </div>
      Aguardando motoboy
    </ion-item>

    <ion-item *ngIf="order.confirmed">
      <ion-icon name="ios-radio-button-on" item-start small color="secondary"></ion-icon>
      Pedido confirmado
    </ion-item>

    <ion-item *ngIf="order.canceled">
      <ion-icon name="ios-radio-button-on" item-start small color="danger"></ion-icon>
      Pedido cancelado
    </ion-item>

    <ion-item text-wrap *ngIf="order.noMotoboy">
      <ion-icon name="ios-radio-button-on" item-start small color="danger"></ion-icon>
      Não há motoboys disponíveis para pegar seu pedido
    </ion-item>
  </ion-list>

  <ion-list *ngIf="order.confirmed" class="mt-3">
    <ion-list-header no-margin>Entrega confirmada por</ion-list-header>
    <ion-item>
      <ion-icon name="person" small item-start></ion-icon>
      <div>{{order.motoboy.name}}</div>
    </ion-item>
    <ion-item>
      <ion-icon name="home" small item-start></ion-icon>
      <div>{{order.motoboy.central.name}}</div>
    </ion-item>
  </ion-list>
</ion-content>
