<ion-header>
  <ion-navbar>
    <ion-title>Seu pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item no-padding>
      <div class="circle green" item-start></div>
      Pedido enviado
    </ion-item>
    <ion-item no-padding *ngIf="order.pending">
      <ion-spinner name="crescent" duration="1200" item-start></ion-spinner>
      Aguardando motoboy
    </ion-item>

    <ion-item no-padding *ngIf="order.confirmed">
      <span class="circle green" item-start></span>
      Pedido confirmado
    </ion-item>

    <ion-item no-padding *ngIf="order.canceled">
      <span class="circle red" item-start></span>
      Pedido cancelado
    </ion-item>

    <ion-item text-wrap no-padding *ngIf="order.noMotoboy">
      <span class="circle red" item-start></span>
      Não há motoboys disponíveis para pegar seu pedido
    </ion-item>
  </ion-list>

  <section *ngIf="order.confirmed" class="mt-5">
    <div class="mb-3">
      <ion-icon name="person"></ion-icon>
      {{order.motoboy.name}}
    </div>
    <div class="mb-3">
      <ion-icon name="home"></ion-icon>
      {{order.motoboy.central.name}}
    </div>
  </section>
</ion-content>
