$gray-page-background: #f5f8fa;
$gray-container-background: #eeeef3;

.form-group {
  margin-bottom: 1.5rem;

  &:last-child input {
    padding-left: 1.5rem;
  }
  &:not(:last-child) input {
    margin-left: 1.5rem;
  }

  label {
    font-size: 1.2rem;
    color: #999;
    display: block;
    padding-left: 1.5rem;
  }
  input {
    border: 0;
    border-radius: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    width: 100%;
    line-height: 3rem;
    color: #2e2e2e;
    font-size: 1.6rem;

    &:focus {
      border-top: 0;
      border-bottom: 2px solid map-get($colors, primary)
    }
  }
}

.bg-white {
  background-color: #fff;
}

.gray {
  &-container { background: $gray-container-background }
  &-page      { background: $gray-page-background }
}

.text-muted {
  color: #999;
}

$values: 0rem, 0.25rem, 0.5rem, 1rem, 1.5rem, 3rem;

@for $i from 1 through length($values) {
  $val: nth($values, $i);
  $n: $i - 1;

  .m-#{$n} { margin: $val $val !important }
  .mt-#{$n} { margin-top: $val !important }
  .mr-#{$n} { margin-right: $val !important }
  .mb-#{$n} { margin-bottom: $val !important }
  .ml-#{$n} { margin-left: $val !important }

  .p-#{$n} { padding: $val !important }
  .pt-#{$n} { padding-top: $val !important }
  .pr-#{$n} { padding-right: $val !important }
  .pb-#{$n} { padding-bottom: $val !important }
  .pl-#{$n} { padding-left: $val !important }
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w- {
  &25 { width: 25% }
  &50 { width: 50% }
  &75 { width: 75% }
  &100 { width: 100% }
}

.off-screen {
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  height: 1px;
  width: 1px;
}
