<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (tap)="viewCtrl.dismiss()" color="dark">
        <ion-icon large name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Buscar endereço</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="query"
      [showCancelButton]="true"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      [showCancelButton]="true"
      [animated]="true"
      placeholder="Digite aqui"
      debounce="500"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list *ngIf="predictions">
    <ion-list-header>Resultados</ion-list-header>
    <ion-item detail-none *ngIf="predictions.length === 0">Nenhum resultado</ion-item>
    <button text-wrap ion-item *ngFor="let prediction of predictions" (tap)="selectPrediction(prediction)">
      {{prediction.description}}
    </button>
  </ion-list>

  <div padding>
    <p *ngIf="!predictions">Digite o nome do local ou endereço</p>
    <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
  </div>

</ion-content>
